@font-face {
    font-family: 'BootsAndSpurs';
    src: url(../fonts/BootsAndSpurs.ttf) format('truetype');

}
body {
    font-family: 'Roboto';
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
}


:root {
    --boots: 'BootsAndSpurs', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --bigfont: '45px';
}

img {
    width: 100%;
}
/**Header**/

header {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;

}

header, footer {
    background-color: #202020;
    color: #fff;


}

.logo {
    font-family: var(--boots);
    text-decoration: none;
    padding: 20px;
    color: #FFF;
    font-size: 45px;
    


}


h1 {
    font-family: var(--boots);
    font-size: var(--bigfont);

}

h2 {
    font-family: BootsAndSpurs;
    font-size: 30px;

}


/*navigation menu*/

nav ul {
    padding: 0px 0 0 60px;
    
}
nav li {
    display: inline-block;
    position: relative;
   

}
nav a {
    text-decoration: none;
    color: #FFF;
    margin-left: 25px;
    font-size: 30px;
}
nav .current {
    text-decoration: underline;
}


    
.cta  {
    background-color: #bb0000;
    color: white;
    text-decoration: none;
    padding: 24px 148px;
    border-radius: 6px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.cta:before {
    content: '';
    padding: 24px 20px;
    background-color: #FFF;
    transform: rotate(30deg);
    position: absolute;
    height: 100px;
    top: -40px;
    left: -100px;
    transition: left ease-in-out 1s;
    opacity: 0.3;

}
.cta:hover:before {
    left: 110%;
}



.cta-small {
    padding: 10px 39px;
    border-radius: 6px;
    font-size: 14px;
}
.cta--sale {
    background-color: #127300;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 30px;

}
footer  {
    text-align: center;
    padding: 10px;
}
